body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
}

header {
    background-image: url(img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav {
    display: flex;
}

nav>li {
    margin-left: 20px;
}

.logo {
    font-size: 50px;
    color: rgb(103, 234, 232);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.h1 {
    text-align: center;
    color: rgb(103, 234, 232);
}

.divh1 {
    background-color: rgba(0, 255, 255, 0.09);
    width: 280px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 400px;
}

.h1section {
    text-align: center;
}
.img {
    height: 60%;
    width: 70%;
}

.divimg {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}
h3 {
    margin-left: 12px;
}
p {
    margin-left: 16px;
}

@media screen and (min-width: 740px) {
    .divsecttion {
      display: flex;
    }
  }

  .section2 {
    background-color: rgba(127, 255, 212, 0.301);
  }

  .divfooter {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
  }

  footer {
        background-color: rgba(69, 67, 71, 0.46);
        height: auto;
        width: auto;
        font-family: cursive;
        padding-top: 40px;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

ul>li>a {
    text-decoration: none;
    margin: 0 14px;
}

li {
    color: black;
    margin: 6px;
}

.pfooter {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.h1footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}